body {
  background-color: #141414;
  margin: 0;
}

.test-sec {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 10vh;
  background-color: #fde559;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.test-sec .words {
  width: 65%;
  border: solid;
  height: 90%;
  position: relative;
  overflow: hidden;
}

.test-sec .words .displayer-container {
  position: absolute;
  top: -100px;
  right: -10px;
}

.test-sec .words .displayer {
  width: 300px;
  height: 300px;
  background-color: #141414;
  border-radius: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.test-sec .words .displayer-texts {
  margin: auto;
  width: auto;
  position: relative;
  top: 13%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test-sec .words .displayer-texts p {
  display: block;
}

.test-sec .words .displayer-texts p:first-of-type {
  font-size: 2rem;
  color: #c950c9;
  text-shadow: 0 0 5px #b861b8;
  position: relative;
}

.test-sec .words .displayer-texts p:nth-of-type(2) {
  padding: 2px;
  color: #fde559;
  position: relative;
  font-size: 1rem;
}

.test-sec .words .inp-container {
  position: absolute;
  top: 50px;
  height: auto;
  left: 30px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test-sec .words .inp-container .inp {
  background-color: #141414;
  height: 50px;
  font-size: 20px;
  color: white;
  width: 100%;
  border: none;
  border-radius: 15px;
}

.test-sec .words .inp-container .inp:focus {
  outline: none;
}

.test-sec .words .inp-container .pause {
  width: 120px;
  height: 30px;
  margin-top: 50px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: #141414 0 0 10px;
          box-shadow: #141414 0 0 10px;
}

.test-sec .words .inp-container .pause-click {
  -webkit-box-shadow: #141414 0 0 5px;
          box-shadow: #141414 0 0 5px;
}

.test-sec .data {
  width: 30%;
  border: solid;
  height: 90%;
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test-sec .data .wpm {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  display: none;
}

.test-sec .data .wpm code {
  color: lime;
  display: block;
  border: lime solid 2px;
  padding: 50px;
  width: 100px;
  text-align: center;
  font-size: 1.5rem;
}

.test-sec .data .timer {
  width: 100%;
  height: 100%;
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test-sec .data .timer .time {
  margin: auto;
  width: 50%;
  height: 50%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test-sec .data .timer .time code {
  color: lime;
  margin: auto;
  font-size: 12rem;
}
/*# sourceMappingURL=sass.css.map */