$second-color: rgb(253, 229, 89);
$prime-color: rgb(20, 20, 20);
$metal-color: rgb(20, 20, 20);
$purple-color: rgb(201, 80, 201);
$code-color: rgb(0, 255, 0);
body {
  background-color: $prime-color;
  margin: 0;
}
.test-sec {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 10vh;
  background-color: $second-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  .words {
    width: 65%;
    border: solid;
    height: 90%;
    position: relative;
    overflow: hidden;
    .displayer-container {
      position: absolute;
      top: -100px;
      right: -10px;
    }
    .displayer {
      width: 300px;
      height: 300px;
      background-color: $metal-color;
      border-radius: 150px;
      display: flex;
      position: relative;
      &-texts {
        // position: absolute;
        margin: auto;
        width: auto;
        position: relative;
        top: 13%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: end;
        justify-content: space-between;

        p {
          display: block;
          &:first-of-type {
            font-size: 2rem;
            color: $purple-color;
            text-shadow: 0 0 5px rgb(184, 97, 184);
            position: relative;
            // margin-left: 10px;
          }
          &:nth-of-type(2) {
            padding: 2px;
            color: $second-color;
            position: relative;
            // left: 35%;
            // top: 80px;
            font-size: 1rem;
          }
        }
      }
    }
    .inp-container {
      position: absolute;
      top: 50px;
      height: auto;
      left: 30px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .inp {
        background-color: $metal-color;
        height: 50px;
        font-size: 20px;
        color: white;
        width: 100%;
        border: none;
        border-radius: 15px;
      }
      .inp:focus {
        outline: none;
      }
      .pause {
        width: 120px;
        height: 30px;
        margin-top: 50px;
        border-radius: 10px;
        border: none;
        box-shadow: $prime-color 0 0 10px;
      }
      .pause-click {
        box-shadow: $prime-color 0 0 5px;
      }
    }
  }
  .data {
    width: 30%;
    border: solid;
    height: 90%;
    background-color: $prime-color;
    display: flex;
    .wpm {
      background-color: $metal-color;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin: auto;
      display: none;
      code {
        color: $code-color;
        display: block;
        border: $code-color solid 2px;
        padding: 50px;
        width: 100px;
        text-align: center;
        font-size: 1.5rem;
      }
    }
    .timer {
      width: 100%;
      height: 100%;
      background-color: $metal-color;
      display: flex;
      .time {
        margin: auto;
        width: 50%;
        height: 50%;
        background-color: black;
        display: flex;
        code {
          color: $code-color;
          margin: auto;
          font-size: 12rem;
        }
      }
    }
  }
}
